.ampm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 5%;
    bottom: 15%;

    span{
        opacity: 0;

        &.active{
            opacity: 1;
        }
    }
}